#general
.git 
.idea

#for c
*.o
.o
.exe
desktop.ini
OJ_UVA/in.txt
OJ_UVA/in.txt
OJ_UVA/out.txt
OJ_UVA/test.bat
EWU/CSE350/CSE350.txt
0. CUDDERS
OJ_UVA/in.txt
OJ_UVA/out.txt
OJ_UVA/test.bat
0. Vision 2019/2. February/in.txt
0. Vision 2019/2. February/out.txt
0. Vision 2019/2. February/test.bat
0. Vision 2019/test.bat
0. Vision 2019/out.txt
0. Vision 2019/in.txt

